# GDP Data Extraction and Processing of the Top 10 Global Economies

The goal of this project is to build an automated Python-based data pipeline that:
- Extracts real-world GDP data from a live (archived) Wikipedia source using web scraping.
- Processes and cleans the data using pandas and numpy to isolate the top 10 largest global economies, ranked by nominal GDP (as estimated by the IMF).
- Converts and standardizes the values from million USD to billion USD, rounded to two decimal places for consistency.
- Exports the final data into a structured CSV file (Largest_economies.csv) for future use in analytics or business intelligence.

This script is part of a broader effort to support data-driven market entry analysis for a multinational firm seeking global expansion.

In [32]:
# Import Libraries
import numpy as np 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')  # Suppress warnings

- Extract the required GDP data from the given URL using Web Scraping.

In [33]:
# Load the archived Wikipedia page
URL = "https://web.archive.org/web/20230902185326/https://en.wikipedia.org/wiki/List_of_countries_by_GDP_%28nominal%29"
tables = pd.read_html(URL)

- Select Target Table which contains nominal GDP data by country.
- Check the table structure using .shape and .head() to confirm column indexes.

In [34]:
# Preview structure of the 4th table (index 3)
df = tables[3]
print("Columns:", df.columns)
print(df.head())

Columns: MultiIndex([( 'Country/Territory', 'Country/Territory'),
            (         'UN region',         'UN region'),
            (        'IMF[1][13]',          'Estimate'),
            (        'IMF[1][13]',              'Year'),
            (    'World Bank[14]',          'Estimate'),
            (    'World Bank[14]',              'Year'),
            ('United Nations[15]',          'Estimate'),
            ('United Nations[15]',              'Year')],
           )
  Country/Territory UN region IMF[1][13]            World Bank[14]             \
  Country/Territory UN region   Estimate       Year       Estimate       Year
0             World         â€”  105568776       2023      100562011       2022
1     United States  Americas   26854599       2023       25462700       2022
2             China      Asia   19373586  [n 1]2023       17963171  [n 3]2022
3             Japan      Asia    4409738       2023        4231141       2022
4           Germany    Europe    4308854       2023        4072192       2022

  United Nations[15]
            Estimate       Year
0           96698005       2021
1           23315081       2021
2           17734131  [n 1]2021
3            4940878       2021
4            4259935       2021

In [35]:
# Replace the column headers with column numbers
df.columns = range(df.shape[1])
print("Shape:", df.shape)  # Check column count

Shape: (214, 8)

- Keep only the country name and IMF GDP value columns 
- Retain rows 1 to 10 to get the top 10 largest economies.

In [36]:
# Retain columns with index 0 and 2 (name of country and value of GDP quoted by IMF)
df = df[[0,2]]

# Retain the Rows with index 1 to 10, indicating the top 10 economies of the world.
df = df.iloc[1:11,:]

# Assign column names as "Country" and "GDP (Million USD)"
df.columns = ['Country', 'GDP (Million USD)']

# Display result
df

           Country GDP (Million USD)
1    United States          26854599
2            China          19373586
3            Japan           4409738
4          Germany           4308854
5            India           3736882
6   United Kingdom           3158938
7           France           2923489
8            Italy           2169745
9           Canada           2089672
10          Brazil           2081235

- Change GDP values to integers to allow numerical operations.
- Convert to Billions: Divide GDP by 1000 to convert from million to billion USD.

In [37]:
# Change the data type of the 'GDP (Million USD)' column to integer
df['GDP (Million USD)'] = df['GDP (Million USD)'].astype(int)

# Convert the GDP value from Million USD to Billion USD
df[['GDP (Million USD)']] = df[['GDP (Million USD)']]/1000

# Round the value to 2 decimal places
df[['GDP (Million USD)']] = np.round(df[['GDP (Million USD)']], 2)

# Rename the column header from 'GDP (Million USD)' to 'GDP (Billion USD)'
df. rename (columns = {'GDP (Million USD)' : 'GDP (Billion USD)'})

           Country  GDP (Billion USD)
1    United States           26854.60
2            China           19373.59
3            Japan            4409.74
4          Germany            4308.85
5            India            3736.88
6   United Kingdom            3158.94
7           France            2923.49
8            Italy            2169.74
9           Canada            2089.67
10          Brazil            2081.24

- Save the final DataFrame to a CSV file named Largest_economies.csv.

In [38]:
# Load the DataFrame to the CSV file named "Largest_economies.csv"
df.to_csv('Largest_economies.csv', index=False)